/*

_|_|_|_|    _|_|    _|_|_|    _|          _|_|      _|_|    _|_|_|    
_|        _|    _|  _|    _|  _|        _|    _|  _|    _|  _|    _|  
_|_|_|    _|_|_|_|  _|_|_|    _|        _|    _|  _|    _|  _|_|_|    
_|        _|    _|  _|        _|        _|    _|  _|    _|  _|        
_|        _|    _|  _|        _|_|_|_|    _|_|      _|_|    _|

__type: css
__version: 0.1
__author: gandalf
__propose: universal powers
__todo: die

*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 1em;
  padding: 1em;
  font-family: "Roboto", "Helvetica", "sans-serif";
  background: #000a;
  color: #fffa;
  height: 100%;
  width: calc(100% - 4em);
}
header {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
}
button {
  background: transparent;
  border: 0;
  outline: 0 !important;
  color: #fffa;
  cursor: pointer;
}

button:focus,
button:active,
button:hover {
  border: 0 !important;
  outline: 0 !important;
}

.hide {
  display: none;
}

h1.title {
  letter-spacing: 3px;
  font-weight: 100;
  font-size: 3em;
  text-shadow:  0px 0px 10px #ffffff88;
  z-index: 999;
}

#introduction p {
  width: 50%;
}
#introduction h3 {
  width: 100%;
  padding-bottom: 0.25em;
  font-weight: 100;
  letter-spacing: 1.5px;
}
#introduction h3:first-child {
  border-bottom: 1px solid #fff4;
}
#introduction h4 {
  font-weight: 100;
  margin: 2.5em 0 0 0;
  padding: 0;
  text-transform: uppercase;
}
#introduction h4 + p {
  padding-top: 0;
  margin-top: 0;
}
#loops {
  display: block;
  position: relative;
  width: 100%;
}

#loops-container {
  position: relative;
  float: left;
  width: calc(100% - 2em);
  padding: 1em;
  border-radius: 2px;
  background: #fffa;
  color: #000a;
}
#loops-container table {
  width: 100%;
  padding: 0;
  margin: 0;
}
#loops-container table th {
  text-transform: uppercase;
}
#loops-container table th,
#loops-container table td {
  text-align: left;
  padding: 10px;
  margin: 0;
}
#loop-list td {
  border-bottom: 1px solid #0002;
}
#loop-list tr[playing=true] {
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
}
#loop-list tr[skip=true] {
  opacity: 0.4;
}
#loops-container th:first-child,
#loops-container td:first-child {
  padding-left: 0;
}
#loops-container .options {
  text-align: right;
}
#loops-container button {
  color: #000a;
  font-weight: 600;
  font-family: "Roboto";
  font-size: 1em;
  padding-left: 0;
  margin-left: 0;
}
#loops-counter { margin-top: 2em; }
#loops-counter:before { content: "LOOPS: "; }

#looper-transport {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 1em;
  background: #fff2;
  border-radius: 2px;
  height: auto;
}
#looper-transport {
  overflow: hidden;
}
#looper-transport button {
  float: right;
  margin: 1.55em 1em 1em 0px;
  transition: all 0.2s linear;
}
#looper-transport button i {
  font-size: 2em;
  background: transparent;
  border-radius: 2px;
  transition: all 0.2s linear;
}
#looper-transport button.active i {
  transition: all 0.2s linear;
  animation: pulse 2.5s infinite;
}
#looper-transport button.disabled i {
  color: #888;
  cursor: default;
}

button[target=repeat-loop-mode][mode=none] {
  opacity: 0.35;
}

@keyframes pulse {
  0% ,100% { color: #0004; }
  50% { color: #f008; }
}

h2#current-loop-name {
  display: block;
  width: auto;
  float: left;
  font-weight: 100;
  margin-left: 1em;
}
x#current-loop-time {
  margin-left: 0.2em;
}
x#current-loop-time.ending {
  animation: pulse 0.2s infinite;
}
#current-loop-progress {
  position: absolute;
  z-index: 999;
  width: 0px;
  height: 5px;
  background: #0ffa;
  bottom:0;
  left: 0;
  right: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#loop-visualizer {
  position: absolute;
  top: 20px;
  height: 81px;
  width: 158px;
  background: transparent;
  z-index: 1;
  left: 4px;
}


.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
