/*
 _   _             ___  ____  ____
| | | |           /   |/ _  \/  _ \
| |_| |__   ___  / /| | |/' || |/' |
| __| '_ \ / _ \/ /_| |  /| ||  /| |
| |_| | | |  __/\___  | |_/ /\ |_/ /
 \__|_| |_|\___|    |_/\___/  \___/

__type: css
__version: 0.2
__authors: gandalf, LeDentist, Rego Sen
__propose: universal powers
__todo: die

*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(./roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  width: calc(100% - 4em);
  margin-right: 2em;
  float: left;
  clear: both;
  z-index: 1000;
}

body {
  margin: 200px 1em 1em 1em;
  padding: 1em;
  font-family: "Roboto", "Helvetica", "sans-serif";
  background: #ddd;
  height: 100%;
  width: calc(100% - 4em);
}

button {
  background: transparent;
  border: 0;
  outline: 0 !important;
  cursor: pointer;
}

button:focus,
button:active,
button:hover {
  border: 0 !important;
  outline: 0 !important;
}

.hide {
  display: none;
}

#player-block {
  margin: 2em;
  padding: 1em 0 2em 0;
  border-radius: 10px;
  background: #fff;
  z-index: -2;
}

.looper-row {
  position: relative;
  clear: both;
  width: 400px;
  height: 6em;
  background: transparent;
  border-radius: 2px;
  overflow: hidden;
}

.looper-transport {
  display: flex;
  justify-content: space-around;
}

.looper-transport button {
  margin: 1.55em 1em 1em 0px;
  transition: all 0.2s linear;
}
.looper-transport button i {
  font-size: 6em;
  background: transparent;
  border-radius: 2px;
  transition: all 0.2s linear;
}
.looper-transport button.active i {
  transition: all 0.2s linear;
  animation: pulse 2.5s infinite;
}
button i {
  color: #aaa;
  cursor: default;
}
button.enabled i {
  color: #000;
  cursor: pointer;
}

button[target=repeat-loop-mode][mode=none] {
  opacity: 0.35;
}

@keyframes pulse {
  0% ,100% { color: #0004; }
  50% { color: #f008; }
}

#current-loop-name {
  display: block;
  width: auto;
  color: #000;
  text-align: center;
  font-weight: 100;
  font-size: 5em;
  text-shadow:  0px 0px 10px #ffffff88;
  z-index: 999;
}

#current-loop-tempo {
  display: block;
  width: auto;
  padding-right: 1em;
  margin-top: -2em;
  color: #000;
  text-align: right;
  font-weight: 100;
  font-size: 1em;
  text-shadow:  0px 0px 10px #ffffff88;
  z-index: 999;
}

#current-loop-progress {
  position: absolute;
  z-index: 999;
  width: 0px;
  height: 5px;
  background: #0ffa;
  bottom:0;
  left: 0;
  right: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#loop-visualizer {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: -1;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
